boto3
opensearch-py
botocore
awscli
python-dotenv
retrying
ragas
ipywidgets
iprogress
langchain
langchain_aws
langchain-core
langchain_community
langchainhub
langchain-text-splitters
langgraph
nltk
s3fs
requests
pypdf
tqdm
pandas
haystack-ai
datasets
strands-agents
strands-agents-builder
strands-agents-tools