AWSTemplateFormatVersion: '2010-09-09'
Description: end-to-end RAG deployment template using Knowledge Bases for Amazon Bedrock
Parameters:
  Claude3Haiku:
    Default: anthropic.claude-3-haiku-20240307-v1:0
    Type: String
    Description: Claude 3 Sonnet Model ARN
  Q01pInputBucketName:
    Type: String
    Description: S3 bucket name - where data is stored
  Q01pSuppMultiModalBucket:
    Type: String
    Description: S3 bucket name - where KB stores the images retrieved from the data source
  Q03pEmbedModel:
    Type: String
    Description: Choose Embedding model
  Q08pCollectionName:
    Type: String
    Description: Name of the Collection
  Q09pIndexName:
    Type: String
    Description: Index name to be created in vector store
  Q10pVectorFieldName:
    Type: String
    Description: Vector field name
    Default: bedrock-knowledge-base-default-vector
  Q11pMetaDataFieldName:
    Type: String
    Description: Metadata field name
    Default: AMAZON_BEDROCK_METADATA
  Q12pTextFieldName:
    Type: String
    Description: Text field name
    Default: AMAZON_BEDROCK_TEXT_CHUNK
  pCollectionArn:
    Type: String
    Description: Name of the Collection Arn
  pKbRole:
    Type: String
    Description: KB role for e2e RAG
  pKbRoleArn:
    Type: String
    Description: KB role Arn for e2e RAG

Resources:
  KnowledgeBase:
    Type: AWS::Bedrock::KnowledgeBase
    Properties:
      Description: Test KB Deployment
      KnowledgeBaseConfiguration:
        Type: VECTOR
        VectorKnowledgeBaseConfiguration:
          EmbeddingModelArn: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/${Q03pEmbedModel}
          SupplementalDataStorageConfiguration:
            SupplementalDataStorageLocations:
              - S3Location:
                  URI: !Sub s3://${Q01pSuppMultiModalBucket}
                SupplementalDataStorageLocationType: S3
      Name: advanced-rag-assistant
      RoleArn: !Ref pKbRoleArn
      StorageConfiguration:
        OpensearchServerlessConfiguration:
          CollectionArn: !Ref pCollectionArn
          FieldMapping:
            MetadataField: !Ref Q11pMetaDataFieldName
            TextField: !Ref Q12pTextFieldName
            VectorField: !Ref Q10pVectorFieldName
          VectorIndexName: !Ref Q09pIndexName
        Type: OPENSEARCH_SERVERLESS

  KnowledgeBaseDataSource:
    Type: AWS::Bedrock::DataSource
    DependsOn:
      - KnowledgeBase
    Properties:
      DataSourceConfiguration:
        Type: S3
        S3Configuration:
          BucketArn: !Sub arn:aws:s3:::${Q01pInputBucketName}
      Description: Knowledgebase Data Source
      KnowledgeBaseId: !Ref KnowledgeBase
      Name: advanced-rag-assistant-ds
      VectorIngestionConfiguration:
        ChunkingConfiguration:
          ChunkingStrategy: SEMANTIC
          SemanticChunkingConfiguration:
            BreakpointPercentileThreshold: 95
            BufferSize: 0
            MaxTokens: 300
        ParsingConfiguration:
          BedrockFoundationModelConfiguration:
            ModelArn: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/${Claude3Haiku}
            ParsingModality: MULTIMODAL
          ParsingStrategy: BEDROCK_FOUNDATION_MODEL
Outputs:
  KBID:
    Value: !Ref KnowledgeBase
    Description: KnowledgeBase ID
  DS:
    Value: !Ref KnowledgeBaseDataSource
    Description: KnowledgeBase Datasource